#container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
}

.row {
    display: flex;
    flex: 1;
}

.grid {
    border: 1px solid gray;
    flex: 1;
}